.Cards {
    padding: 50px;
    & .Cards__title {
       h3 {
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
       }
    }
    & .Cards__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    & .Cards__input {
        width: 250px;
        height: 45px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: 1px solid #F3F3F3;
        gap: 13px;
        img {
            padding-left: 18px;
            cursor: pointer;
        }
        input {
            padding: 10px;
            border: none;
            outline: none;
            color: #000;
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.Cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}