.header {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 63px 44px 45px;
    border-bottom: 2px solid #EAEAEA;
    & .header__left {
        display: flex;
        align-items: center;
        gap: 16px;
        img {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        h2 {
            color: #000;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
        p {
            color: #9D9D9D;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        & .header__title {
            display: flex;
            flex-direction: column;
        }
    }
    & .header__right {
        display: flex;
        align-items: center;
        & .header__right-cart {
            width: 18px;
            height: 17px;
            margin-right: 10px;
            cursor: pointer;
            svg {
                transition: all .3s;
            }
            svg:hover {
                transition: all .3s;
                transform: translateY(-3px);
            }
        }
        & .header__right-price {
            display: flex;
            align-items: center;
            margin-right: 30px;
            span {
                color: #5C5C5C;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
        & .header__right-heart {
            width: 21px;
            height: 19px;
            margin-right: 30px;
            cursor: pointer;
            svg {
                stroke: #5C5C5C;
                fill: none;
                transition: all .3s;
            }
            svg:hover {
                stroke: red;
                fill: red;
                transition: all .3s;
                transform: translateY(-3px);
            }
        }
        & .header__right-user {
            width: 20px;
            height: 20px;
            cursor: pointer;
            svg {
                transition: all .3s;
            }
            svg:hover {
                transition: all .3s;
                transform: translateY(-3px);
            }
        }
    }
}